yacs>=0.1.8
gym==0.21.0
torch==2.0.1
mujoco_py==2.1.2.14
sapien==2.1.0
scipy
matplotlib
tqdm
trimesh
opencv-python
git+https://github.com/Farama-Foundation/d4rl@master#egg=d4rl
git+https://github.com/rlworkgroup/metaworld.git@master#egg=metaworld
psutil
pandas
tensorboardX==2.6
moviepy
IPython
einops